<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="midikeyboard3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <midikeyboard3.Properties.Settings>
            <setting name="remoteHost" serializeAs="String">
                <value/>
            </setting>
            <setting name="octaveID" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>55555</value>
            </setting>
            <setting name="EnableMidi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DedicatedOctaveMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="midiChannel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MonitorID" serializeAs="String">
                <value>0</value>
            </setting>
        </midikeyboard3.Properties.Settings>
    </userSettings>
</configuration>
